@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Centauri";
    src: url(./font/FontsFree-Net-Centauri.ttf);
}

#circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 10;
    stroke-dasharray: 450;
    /* stroke-dashoffset: 200; */
    /* transform: translate(0 50%); */
}

svg{
    /* position: absolute; */
}